<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('accueil') }}">
            <img src="/img/logo.png" class="navbar-brand" idth="90" height="90">
        </a>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Catalogue</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('candidature_index') }}">Gestion des candidatures</a>
                </li>
                {% endif %}   
                {% if is_granted('ROLE_TEACHER') and not is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                <a class="nav-link" href="#">Créer une formation</a>
                </li>
                {% endif %}     
                {% if is_granted('ROLE_STUDENT') and not is_granted('ROLE_TEACHER') %}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('candidature_new') }}">Devenir Formateur</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Suivre une formation</a>
                </li>
                {% endif %}          
            </ul>
            <div class="d-flex">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="mt-1"> Bonjour Administrateur </div>
                {% elseif is_granted('ROLE_TEACHER') %}
                <div class="mt-1"> Bonjour {{ app.user.firstName }} </div>
                {% elseif is_granted('ROLE_STUDENT') %}
                <div class="mt-1"> Bonjour {{ app.user.nickname }} </div>   
                {% endif %}
                <a class="btn btn-danger ms-2" href="{{ path('logout') }}" >Déconnexion</a> 
            {% else %}
                <a class="btn btn-success me-2" href="{{ path('login') }}">Connexion</a>
                <a class="btn btn-warning" href="{{ path('register') }}">Inscription</a>
            {% endif %}
            </div>
        </div>
    </div>
</nav>