{% extends 'base.html.twig' %}

{% block title %} {{formation.title}} {% endblock %}

{% block body %}
    
    <main class="d-flex">    
        {{ include('catalogue/base/aside.html.twig') }}
        <div class="d-flex flex-column align-items-center" style="width: 85%;">
            <h1>{{lesson.title}}</h1>
            <iframe width="560" height="315" src="{{ lesson.videoPath }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
            <div>{{lesson.content}}</div>        
        </div>
    </main>   

{% endblock %}
